<% provide(:title, "ABOOT")%>


<!DOCTYPE html>
<html>
    <head>  
        <title><%= yield(:title) %> | This is the About page </title>
    </head>
    <body>
        <h1> About </h1>
        <p> 
             <a href= "http://railstutorial.org"> Ruby on Rails Tutorial</a>
             is a website that provide a free course book on Ruby on Rails
        </p>
    </body>
    </head>
</html>