<% provide(:title, "Home")%>

<!DOCTYPE html>
<html>
    
    <body>
        <h1> Sample App </h1>
        <p>
            This is the homepage for 
             <a href= "http://railstutorial.org"> Ruby on Rails Tutorial</a>
             sample app
        </p>
    </body>
    </head>
</html>

<%# <p>Find me in app/views/static_pages/home.html.erb</p> %>
